@model IEnumerable<Zapp.Models.Employee>

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Beheer medewerkers";
    ViewData["info"] = "Beheer Medewerkers";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3 class="py-3">Beheer Mederwerkers</h3>
    <table class="table">
        <thead>
            <tr id="header-row">
                <th>
                    <span>#</span>
                </th>
                <th>
                    <span>Naam</span>
                </th>
                <th>
                    <span>Gebruikersnaam</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1; }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="t-d-n" asp-action="Edit" asp-route-id="@item.Id">@i</a>
                    </td>
                    <td>
                        <a class="t-d-n" asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        <a class="t-d-n" asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.UserName)</a>
                    </td>
                </tr>
                i++;
                }
        </tbody>
    </table>
</body>
</html>
