@model IEnumerable<Zapp.Models.Appointment>

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Beheer afspraken";
    ViewData["info"] = "Beheer Afspraken";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div class="f-r p-3">
    <button id="create-btn"><a asp-action="Create">Afspraak Toevoegen</a></button>
</div>
<table class="table">
    <thead>
        <tr id="header-row">
            <th>
                <span>Datum & Tijd</span>
            </th>
            <th>
                <span>Klant</span>
            </th>
            <th>
                <span>Medewerker</span>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a class="t-d-n" asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Scheduled)</a>
            </td>
            <td>
                <a class="t-d-n" asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Customer.Name)</a>
            </td>
            <td>
                <a class="t-d-n" asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Employee.Name)</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
