@model IEnumerable<Zapp.Models.Customer>

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Beheer klanten";
    ViewData["info"] = "Beheer Klanten";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3 class="py-3">Beheer Klanten</h3>
    <table class="table">
        <thead>
            <tr id="header-row">
                <th style="width: 5%;">
                    <span>#</span>
                </th>
                <th style="width: 30%;">
                    <span>Naam</span>
                </th>
                <th style="width: 25%;">
                    <span>Adres</span>
                </th>
                <th style="width: 15%;">
                    <span>Postcode</span>
                </th>
                <th>
                    <span>Woonplaats</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1; }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>
                        <a class="t-d-n" asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        <a class="t-d-n" asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Address)</a>
                    </td>
                    <td>
                        <a class="t-d-n" asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.PostalCode)</a>
                    </td>
                    <td>
                        <a class="t-d-n" asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Residence)</a>
                    </td>
                </tr>
                i++;
                }
        </tbody>
    </table>
    <div class="py-5 f-r">
        <button id="create-btn"><a asp-action="Create">Klant Toevoegen</a></button>
    </div>
</body>
</html>
